{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- ... Header Section ... -->
    <div class="text-center mb-4" style="margin-top: 150px;">
        <img src="{% static 'users/images/openhire_logo_bg.png' %}" alt="OpenHire Logo" height=70 width=250>
    </div>

    <div class="col-md-4 offset-md-4 container-fluid card">
    <h4>Iniciar Sesión</h4>

        <!-- ... Listing Section ... -->
        <form method="POST" action="" style="margin-top: 20px;">
            {% csrf_token %}
            <fieldset>

                <!-- ... form elements ... -->
                <div class="form-group mb-3">
                    {% if form.email.errors %}
                        <div class="error-message">
                            {% for error in form.email.errors %}
                                <p style="color: red !important; font-size: 13px !important;">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <input type="text" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Ingrese su correo electrónico">
                    {% if form.email.help_text %}
                        <small class="form-text text-muted">{{ form.email.help_text }}</small>
                    {% endif %}
                    {{ form.non_field_errors }}
                </div>


                <div class="form-group mb-3">
                    {% if form.password.errors %}
                        <div class="error-message">
                            {% for error in form.password.errors %}
                                <p style="color: red !important;"></p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="input-group">
                        <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" name="password" id="passwordInput" placeholder="Contraseña">
                        <button type="button" class="btn btn-outline-secondary" id="showPasswordBtn" onclick="togglePassword()">Mostrar</button>
                    </div>
                </div>

                <script>
                    function togglePassword() {
                        var passwordInput = document.getElementById("passwordInput");
                        var showPasswordBtn = document.getElementById("showPasswordBtn");

                        if (passwordInput.type === "password") {
                            passwordInput.type = "text";
                            showPasswordBtn.textContent = "Ocultar";
                        } else {
                            passwordInput.type = "password";
                            showPasswordBtn.textContent = "Mostrar";
                        }
                    }
                </script>

                <div class="container mb-3">
                    <div class="row">
                        <div class="col-md-6 text-md-start">
                            <span style="color: #929292; text-decoration: none; font-size: 13px;">¿No tienes una cuenta?</span>
                            <a class="text-center" href="#">
                                <span style="color: inherit; text-decoration: inherit; font-size: 13px;"> Regístrate </span>
                            </a>
                        </div>

                        <div class="col-md-6 text-md-end">
                            <div class="form-group mb-3">
                                <button class="btn btn-primary" type="submit"><strong>Continuar</strong></button>
                            </div>
                        </div>
                    </div>
                </div>


            </fieldset>
        </form>
    </div>

{% endblock  %}